@import "tailwindcss";

@font-face {
  font-family: Gabarito;
  src: url("/fonts/Gabarito-VariableFont_wght.ttf");
}

@theme {
  --main-font: "Gabarito";
  --color-light: #dca87a16;
  --color-dark: #dca87a;
}

@layer base {
  * {
    font-family: var(--main-font), sans-serif;
  }

  h1 {
    @apply text-4xl;
  }

  h2 {
    @apply text-3xl;
  }

  h3 {
    @apply text-2xl;
  }

  p {
    @apply text-base font-light;
  }
}
